@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}


.App {
  display: flex;
  width: 100%;
}

.svg-1,
.svg-2 {
  width: 46.3%;
  position: fixed;
}
.svg-1 {
  background-color: #dadada;
}
.svg-2 {
  background-color: #8c8c8c;
}

.form-1,
.form-2 {
  margin-left: 46.3%;
  width: 100%;
}

.form-1 {
  background-color: #f0f0f0;
}

.form-2 {
  background-color: #2c2c2c;
}

.icon {
  position: absolute;
  top: 2.77%;
  right: 1.66%;
  cursor: pointer;
}

